* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    caret-color: transparent;
}

p{
    margin: 0px;
}

:root {
    --border: #11272D;
    --frame: #3A137C;
    --button: #3A137C;
    --messagePov: #944BBB;
    --messageOther: #F8F2F7;
    --chatscreen: #E4C9E0;
    --panel: #f5e1f2;
    --hover: #9E5CC1;
    --chatscroll: #bd93b7;
    --roomscroll: #290961;
    --textcolor: #1c1c1c;
    --timecolor: #bababa;
    --textcolorlight: white;
}

body {
    background-color: var(--frame);
    margin: 0;
}

#mainDiv {
    display: none;
}

#subMainDiv {
    position: absolute;
    height: 695px;
    width: 80%;
    right: 0;
}

#roomsDiv {
    width: 20%;
    height: 695px;
    position: absolute;
    float: left;
    text-align: center;
    background-color: var(--frame);
    
}

#chatDiv {
    position: absolute;
    width: 100%;
    right: 0%;
    text-align: left;
    text-indent: 10px;
    float: right;
    background-color: var(--chatscreen);
    overflow-y: scroll;
    scrollbar-color: var(--chatscroll) var(--chatscreen);
    height: 586px;
    scroll-behavior: auto;
}

#loginDiv {
    background-color: var(--frame);
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#barDiv {
    background-color: var(--chatscreen);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%; 
    right: 0%;  
    width: 100%;
    height: 60px;
}

#headerDiv {
    background-color: var(--frame);
    height: 50px;
    color: var(--textcolorlight);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid var(--border);
}

#headerSpan {
    display: flex;
    background-color: var(--button);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    border: 0.1rem solid var(--border);
}

#headerSpan:hover{
    background-color: var(--hover);
}

#messageBar {
    width: 80%;
    font-size: 25px;
    border-radius: 10px;
    color: var(--textcolor);
    padding: 5px;
    outline: none;
    border: none;
    caret-color: var(--border);
    
}

.messageButton {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--frame);
    color: var(--textcolorlight);
}

.messageButton:hover{
    background-color: var(--hover);
}


#roomsHeadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--frame);
    height: 50px;
    border-bottom: 0.1rem solid var(--border);

}

#roomsFootDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--frame);
    height: 60px;
    position: absolute;
    width: 100%;
    border-top: 0.1rem solid var(--border);

}

.roomsSpan {
    text-align: left;
    text-indent: 10px;
}

.roomsLi {
    background-color: var(--frame);
    color: var(--textcolorlight);
    border-radius: 15px;
    margin: 2%;
    font-size: 20px;
    padding: 3px;
    overflow-wrap: break-word;
    text-align: left;
    text-indent: 10px;
    display: flex;
}

.roomsLi:hover {
    background-color: var(--hover);
}

.roomsUl {
    overflow-y: hidden;
    scrollbar-color: var(--roomscroll) var(--frame);
    scroll-behavior: auto;
    height: 550px;
    padding-left: 5%;
    list-style: none;
}

#authSection {
    background-color: var(--frame);
    text-align: center;
    height: 200px;
    margin-top: 50px;
    padding-top: 30px;
}

.loginInput {
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    margin: 5px;
    color: var(--textcolor);
}

.loginButton {
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--button);
    border: none;
    color: var(--textcolorlight);
}

.loginButton:hover{
    background-color: var(--hover);
}

#loginH {
    color: var(--textcolorlight);
    font-size: 45px;
}


#chatSpan {
    color: var(--textcolorlight);
    font-size: 25px;
}

#userInfoPopup {
    display: none;
    position: fixed;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: var(--panel);
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#closeInfoPopup {
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline;
    font-size: 10px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--button);
    border: 0.1rem solid var(--border);
}

#closeInfoPopup:hover{
    background-color: var(--hover);
}

#membersContainer {
    margin-top: 5px;
}

#adminP{
    margin-top: 5px;
}

#infoMembers {
    max-height: 150px;
    overflow-y: auto;
}


#addUserBtn {
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--panel);
    border: 0.1rem solid var(--border);
}

#addUserBtn:hover{
    background-color: var(--hover);
}

#deleteGroupBtn {
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--panel);
    border: 0.1rem solid var(--border);
}

#deleteGroupBtn:hover {
    background-color: var(--hover);
}

#leaveGroupBtn {
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--panel);
    border: 0.1rem solid var(--border);
}

#leaveGroupBtn:hover {
    background-color: var(--hover);
}

strong{
    color: var(--frame);
}

#profileDiv {
    display: flex;
    font-size: 25px;
    margin: 2px;
    border-radius: 10px;
    background-color: var(--button);
    color: var(--textcolorlight);
    padding-top: 4px;
    border: 0.1rem solid var(--border);
    align-items: center;
}

#profileDiv:hover {
    background-color: var(--hover);
}

#profilePopup {
    display: none;
    position: fixed;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: var(--panel);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}


#closeProfilePopup {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline;
    font-size: 10px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--button);
    border: 0.1rem solid var(--border);
}

#closeProfilePopup:hover{
    background-color: var(--hover);
}

#deleteProfileBtn {
    top: 40px;
    right: 10px;
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--panel);
    border: 0.1rem solid var(--border);
}

#deleteProfileBtn:hover{
    background-color: var(--hover);
}

#profileP {
    font-size: 25px;
    overflow-wrap: break-word;
    display: inline-block;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
}

#profileImg {
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    display: inline-block;
}




#newGroupBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--button);
    border: 0.1rem solid var(--border);
}

#newGroupBtn:hover {
    background-color: var(--hover);
}

#logOutBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;
    background-color: var(--button);
    border: 0.1rem solid var(--border);
}

#logOutBtn:hover {
    background-color: var(--hover);
}

.messageDiv {
    margin: 5px;
    margin-bottom: 3px;
    background-color: var(--messageOther);
    width: 30%;
    border-radius: 10px;
    position: relative;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    overflow-wrap: break-word;
    text-indent: 0px;
}

#messageDivPov {
    left: 68.4%;
    background-color: var(--messagePov);
    
}

#messageP {
    color: var(--textcolor);
}

#timeP {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: var(--timecolor);
    font-size: 11px; 
}

#userP{
    color: var(--hover);
}

.date-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    color: var(--chatscroll);
    font-size: 0.85em;
    font-weight: bold;
}

    .date-divider::before,
    .date-divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--chatscroll);
        margin: 0 10px;
       
    }